/* Estilos generales */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    line-height: 1.6;
    background-color: #f9fafb;
}

.navbar {
    transition: top 1s ease-in-out, background-color 1s, padding 1s;
    position: fixed; 
    width: 100%; 
    z-index: 1000;
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 0.5rem 1rem;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    transition: width 1s, height 1s;
}
.navbar-brand img.scrolled {
    width: 40px;
    height: 40px;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(119, 23, 128, 0.7);
}

.parallax-section {
    background: url('../img/parallax-background.jpg') center center/cover no-repeat fixed;
    color: #5a077a;
    padding: 100px 0;
}

.parallax-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.parallax-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.about-section {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.about-img {
    max-width: 100%;
    border-radius: 15px;
}

.about-title {
    font-size: 2rem;
    color: #5f3d92;
    margin-bottom: 1rem;
}

.about-text {
    font-size: 1.2rem;
    color: #070707;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.offset-right {
    margin-left: auto;
}

.offset-left {
    margin-right: auto;
}

.vision-img {
    max-width: 90%;
}

.mission-img {
    max-width: 90%;
}

.text-center {
    text-align: center;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in-visible {
    opacity: 3;
}


@media (max-width: 768px) {
    .parallax-title {
        font-size: 2.5rem;
    }

    .parallax-subtitle {
        font-size: 1.2rem;
    }

    .about-section {
        padding: 40px 0;
    }

    .about-title {
        font-size: 1.8rem;
    }

    .about-text {
        font-size: 1rem;
    }
}
