body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f8f9fa;
    padding-top: 80px;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonios-section {
    margin: 50px 0;
}

.testimonio {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.testimonio img {
    width: 100%;
    border-radius: 8px;
}

.testimonio h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #343a40;
}

.testimonio p {
    margin-top: 10px;
    font-size: 16px;
    color: #495057;
}

.testimonio ul {
    margin-top: 20px;
    list-style-type: disc;
    padding-left: 20px;
}

.testimonio ul li {
    font-size: 16px;
    color: #495057;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #cec1e2;
    border-color: #121213;
    color: #141414;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #8a5ab6;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.row .col-md-4 {
    margin-top: 20px;
}
